body {
    display:block;
    word-wrap: break-word;
   
}

.container {
    background-color:#EEEEEE;
    height: 459px;

}

.interface {
    overflow: auto;
   
}
.img1{
    float:left;
    width: 540px;
    height: 459px;
}

h6{
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin: 120px;
    padding-right: -100px;
    
}

p{
    text-align:left;
    font-size: 20px;
    color: grey;
    margin-top: -90px;
    padding-right: 40px;
}

