body {
    display:block;
    word-wrap: break-word;
   
}

.container {
    background-color:#dfe2e5;
    height: 459px;

}

.interface {
    overflow: auto;
   
}
.img1{
    float:left;
    width: 540px;
    height: 459px;
}

h3{
    text-align:center;
    font-size: 25px;
    margin: 120px;
    padding-right: -100px;
    
}

p{
    text-align:center;
    font-size: 17px;
    color: grey;
    margin-top: -80px;
    padding-right: 40px;
}